body, html{
    cursor: url("../backend/app/assets/images/lol_cursor.png"), pointer;
    background-image: url('../backend/app/assets/images/background_03.png');
    background-size: 100vw 100vh;
    margin: 0;
}

button {
    cursor: url("../backend/app/assets/images/lol_cursor.png"), pointer;
}

.container {
    display: grid;
    grid-template-columns: 0.5fr 8fr 8fr 8fr 8fr 8fr 0.5fr;
    grid-template-rows: 0.5fr 2fr 2fr 2fr 2fr 0.5fr;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
div.header {
    grid-area: 1 / 1 / 2 / 8;
    text-align: center;
    display: flex;
}

div.header h3{
    margin-bottom: 0px;
    /* margin-top: 0px; */
}
.player-cards {
    grid-area: 2 / 1 / 6 / 3;
    text-align: center;
}

.player-card {
    border: 0.5px solid rgb(0, 75, 139);
    /* border: 0.5px solid rgba(250, 250, 250, 0.8); */
    width: 6vw;
    height:10vh; 
    background-size: 8vw 14vh;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.game-board {
    border: solid rgb(141, 126, 39);
    display: grid;
    grid-area: 2 / 3 / 6 / 6;
    width: 58.5vw;
    height: 89vh; 
    background-image: url("../backend/app/assets/images/rift_map.png");
    background-size: cover;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
div.game-square {
    border: 1px solid black;
    display: block;
    outline-style: none;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-size: 19.30vw 29.5vh;
    background-repeat: no-repeat;
    background-position: center;
}
.cpu-cards {
    grid-area: 2 / 6 / 6 / 8;
    text-align: center;
}
.cpu-card {
    border: 0.5px solid rgb(155, 42, 61);
    background-image: url("../backend/app/assets/images/back_of_cpu_card.png");
    background-size: 100% 100%;
    width: 6vw;
    height: 10vh; 
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.footer {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 6;
    grid-row-end: 6;
    text-align: center;
}
.freeze { 
    pointer-events: none; 
}
/* 
.buttons {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 25%;
    margin-left: 47%;
    padding: 10px;
    width: 125px;
    height: 40px;
    border-radius: 25px;
    z-index: 1;
} */


.new_account_div {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

.new_account_form {
    display: inline-block;
    position: fixed;
    margin-top: 2%;
    margin-left: 4%;
    z-index: 10;
    background-color: #f4f4f4;
}

.create_account_button {
    display: inline-block;
    position: fixed;
    margin-top: 2%;
    margin-left: 1%;
    z-index: 10;
}

.log_in_button {
    display: inline-block;
    position: fixed;
    margin-top: 2%;
    margin-left: 10.5%;
    z-index: 10;
}

.log_in_div {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

.log_in_form {
    display: inline-block;
    position: fixed;
    margin-top: 2%;
    margin-left: 4%;
    z-index: 10;
}

.player-score {
    margin-left: 4%;
    color: white;
}
/* ////////Smaller Screens////////// */
@media only screen and (max-width: 1500px) {
    .player-score {
        margin-left: 47%;
        margin-top: 1%;
        color: rgb(0, 75, 139);
        position: fixed;
    }

    .cpu-score {
        margin-left: 52%;
        margin-top: 1%;
        color: rgb(155, 42, 61);
        position: fixed;
    }

    .player-stats {
        margin-left: 32%;
        margin-top: 1%;
        color: rgb(0, 75, 139);
        font-size: 1em;
    }

    .buttons {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 26.5%;
        margin-left: 45%;
        padding: 10px;
        width: 125px;
        height: 40px;
        border-radius: 25px;
        z-index: 1;
    }
}
/* ////////////////////////////////// */
/* ///////////Larger Screen///////////// */
@media only screen and (min-width: 1500px) {
    .player-score {
        margin-left: 47%;
        margin-top: 0.85%;
        color: rgb(0, 75, 139);
        position: fixed;
        font-size: 1.5em;
    }

    .cpu-score {
        margin-left: 52%;
        margin-top: 0.85%;
        color: rgb(155, 42, 61);
        position: fixed;
        font-size: 1.5em;
    }

    .player-stats {
        margin-left: 33%;
        margin-top: 1%;
        color: rgb(0, 75, 139);
        font-size: 1.17em;
    }

    .player-cards {
        grid-area: 2 / 1 / 6 / 3;
        margin-top: 10%;
        text-align: center;
    }

    .cpu-cards {
        grid-area: 2 / 6 / 6 / 8;
        margin-top: 10%;
        text-align: center;
    }

    .buttons {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        margin-top: 24.5%;
        margin-left: 46.5%;
        padding: 10px;
        width: 125px;
        height: 40px;
        border-radius: 25px;
        z-index: 1;
    }
}
/* ////////////////////////////////// */
/* ////////////////////////////////// */
.victory {
    display: none;
    background-image: url("../backend/app/assets/images/victory_2.png");
    background-size: 100% 100%;
    position: fixed;
    margin-top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}

.draw {
    display: none;
    background-image: url("../backend/app/assets/images/draw.png");
    background-size: 100% 100%;
    position: fixed;
    margin-top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}

.loss {
    display: none;
    background-image: url("../backend/app/assets/images/defeat.png");
    background-size: 100% 100%;
    position: fixed;
    margin-top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}

element {
    background-color: none;
}

/* @media only screen and (max-width) {
    
} */